{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags socialaccount %}
{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
{% providers_media_js %}

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
<br />
<p>
<a class="btn btn-info" href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
</p>
{% endblock content %}


